<!DOCTYPE html>
<html lang="eng">
<body>
    <form action="/result" method="POST">
        <p><b>* Name</b> <input type='text' name='Name'></p>
        <p><b>* Student number</b> <input type='text' id='StudentNumber' name='StudentNumber' /></p>
        <p><b>* Major</b> <input type='text' name='Major'></p>

        <p>Gender</p>
        <label><input type= "radio" value='Male' name ='Gender'/> Male</label>
        <label><input type= "radio" value='Female' name ='Gender'/> Female</label>
        
        <p> Programming Languages</p>
        <label><input type = "checkbox" value = "Python"  name = "languages"/>Python</label>
        <label><input type = "checkbox" value = "Java" name = "languages"/>Java</label>
        <label><input type = "checkbox" value = "HTML" name = "languages"/>HTML</label>
        <label><input type = "checkbox" value = "C++" name = "languages"/>C++</label>

        <p><button type='submit' name='submit' value='submit'>submit</button></p>
    </form>
</body>
</html>
 